@import "tailwindcss";

.bg-grid {
  background-image:
    linear-gradient(to right, oklch(0.708 0 0 / 0.6) 2px, transparent 1px),
    linear-gradient(to bottom, oklch(0.708 0 0 /0.6) 2px, transparent 1px);
  background-size: 50px 50px;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

@layer base {
  a {
    -webkit-user-drag: none;
  }
  img {
    -webkit-user-drag: none;
  }
}
